<h1 style='text-align: center;'>
 Aggregation Using Window Functions </h1>

In [1]:
# Load and connect to the sql extension

%load_ext sql

In [9]:
#Upload and read the database

%sql mysql+pymysql://root:Cedrick254@localhost:3306/united_nations

In [10]:
# Show the tables in the database
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/md_water_services
 * mysql+pymysql://root:***@localhost:3306/united_nations
2 rows affected.

[('access_to_basic_services',), ('estimates_water',)]

### Task 1: Select the data required for the analysis
The columns you select should include:

-  Sub_region
-  Country_name
-  Land_area

Filter out the results using the following criteria:

-  For the Time_period of 2020.
-  For Land_area values that are not missing.

In [38]:
%%sql

SELECT Sub_region, Country_name, Land_area
FROM access_to_basic_services
WHERE Time_period = 2020 AND Land_area IS NOT NULL
LIMIT 5;

   mysql+pymysql://root:***@localhost:3306/md_water_services
 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central Asia', 'Kazakhstan', 2699700),
 ('Central Asia', 'Tajikistan', 138790),
 ('Central Asia', 'Turkmenistan', 469930),
 ('Central Asia', 'Uzbekistan', 440650),
 ('Southern Asia', 'Afghanistan', 652230)]

### Task 2: Calculate the land area covered as a percentage of the country's subregion

Calculate each land area as a percentage within its sub_region:

-  Divide the Land_area by the SUM() BY the areas OVER each Sub_region's PARTITION. Name this column pct_sub_region_land_area.
-  Round the calculation off to 4 decimal places.

In [37]:
%%sql

SELECT Sub_region, Country_name, Land_area,
	ROUND(Land_area/SUM(Land_area) OVER(PARTITION BY Sub_region), 4) AS pct_sub_region_land_area
FROM access_to_basic_services
WHERE Time_period = 2020 AND Land_area IS NOT NULL
LIMIT 5;

   mysql+pymysql://root:***@localhost:3306/md_water_services
 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Australia and New Zealand', 'Australia', 7692020, Decimal('0.9669')),
 ('Australia and New Zealand', 'New Zealand', 263310, Decimal('0.0331')),
 ('Caribbean', 'Jamaica', 10830, Decimal('0.0528')),
 ('Caribbean', 'Trinidad and Tobago', 5130, Decimal('0.0250')),
 ('Caribbean', 'Barbados', 430, Decimal('0.0021'))]

### Task 3: Calculate The running population average for each country's subregion
Calculate the running average:

-  Calculate the AVG() of the Est_population_in_millions.
-  PARTITION the calculation OVER each country's Sub_region, and name this column Running_average_population.
-  ROUND the calculation off to 4 decimal places.
-  Filter the results WHERE there are values of Est_gdp_in_billions that are NOT NULL.

In [36]:
%%sql

SELECT
	Sub_region,
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Est_population_in_millions,
    ROUND(AVG(Est_population_in_millions) OVER(PARTITION BY Sub_region), 4) AS Running_average_population

FROM access_to_basic_services
WHERE Est_gdp_in_billions IS NOT NULL
LIMIT 5;

   mysql+pymysql://root:***@localhost:3306/md_water_services
 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Australia and New Zealand', 'New Zealand', 2020, 100.0, 100, 211.73, 5.0902, 14.8059),
 ('Australia and New Zealand', 'New Zealand', 2019, 100.0, 100, 213.43, 4.9792, 14.8059),
 ('Australia and New Zealand', 'New Zealand', 2018, 100.0, 100, 211.95, 4.9006, 14.8059),
 ('Australia and New Zealand', 'New Zealand', 2017, 100.0, 100, 206.62, 4.8136, 14.8059),
 ('Australia and New Zealand', 'New Zealand', 2016, 100.0, 100, 188.84, 4.7141, 14.8059)]